label.p-label {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

label.p-label.disabled {
  color: #a2a2a2;
}

label.radio-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.menuitem-placeholder {
  color: #a2a2a2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
}

textarea.p-textarea {
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 3px;
  resize: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
}

textarea.p-textarea:hover {
  border: 2px solid rgba(0, 0, 0, 0.87);
}

textarea.p-textarea:focus {
  outline: 0;
  border: 2px solid #1976d2;
}

.date-container {
  margin-top: 20px;
  display: flex;
}

.date-container .date {
  width: 250px;
  margin-right: 6px;
}

.error-msg-container {
  margin-top: 5px;
}

.error-msg-container .alert {
  color: red;
}

.p-typography {
  padding-bottom: 15px;
  color: #2196f3;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root {
  max-width:500px;
}
.css-1ptx2yq-MuiInputBase-root-MuiInput-root{
  width: 157px !important;
}
